



@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
 /* .font-custom {
  font-family: 'Cutive Mono', monospace;
 } */
 body{
  font-family: 'Cutive Mono' , monospace;
  overflow-x: hidden;
  overflow-y: hidden;
 }



@tailwind base;
@tailwind components;
@tailwind utilities;
.myAni {
  animation-name: right;
  animation-duration: 4s;
 }
 
  @keyframes left {
    from {
      position: relative;
     left: -1200px;
    }
   
   
    to{
      position: relative;
      left: 0px;
    }
    
  }
  @keyframes right {
    from {
      position: relative;
      right: -1200px;
    }
   
   
    to{
      position: relative;
      right: 0px;
    }
    
  }
  .circle {
    display: grid;
    grid-template-columns: repeat(18,1fr);
    

  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes width {
    from {
      width: 20px;
    }
    to {
     width: 80%;
    }
  }
  .badge {
    position: relative;
  width: 100px; /* Adjust the width to make the circle smaller */
  height: 100px; /* Adjust the height to make the circle smaller */
  border-radius: 50%;
  
 
  transform: rotate(0deg);
  
 
  }
  .ani-right {
    animation: right 2s linear ;
  }
  .ani-left{
   animation: left 2s linear;
  }
  .ani-top{

  }
  .ani-bottom{

  }
  @keyframes bounce1 {
    0%, 100% {
      transform: translateY(-75vh);
      
    }
    50% {
      transform: translateY(10vh);
      
    }}
  @keyframes bounce-letter {
    0%, 100% {
      transform: translateY(-5vh);
      
    }
    50% {
      transform: translateY(10vh);
      
    }}
    .ani-letter{
      animation: bounce-letter 2s linear;
    }
   
  @keyframes bounce2 {
    0%, 100% {
      transform: translateY(-85vh);
     
    }
    50% {
      transform: translateY(10vh);
     
    }
  }
  @keyframes bounce3 {
    0%, 100% {
      transform: translateY(-65vh);
      
    }
    50% {
      transform: translateY(10vh);
      
    }
  }
  .ani-bounce	{
   animation: bounce1 3s  ;
  }
  .ani-bounce2	{
    animation: bounce2 4s ;
  }
  .ani-bounce3	{
    animation: bounce3 5s  ;
  }
  .ani-bounce4	{
    animation: bounce1 6s ;
  }

  
  .bg-glass{
    /* From https://css.glass */
/* From https://css.glass */
/* From https://css.glass */
/* From https://css.glass */
background: rgba(255, 255, 255, 0.14);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(14.3px);
-webkit-backdrop-filter: blur(14.3px);
border: 1px solid rgba(255, 255, 255, 0.3);
  }
  @keyframes bottom {
    from{
      transform: translateY(5vh);
    
  }
  to{
    transform: translateY(0vh);
  }
}
.ani-bottom {
  animation: bottom 1s linear;
}