



@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
 /* .font-custom {
  font-family: 'Cutive Mono', monospace;
 } */
 body{
  font-family: 'Cutive Mono' , monospace;
  overflow-x: hidden;
 }



@tailwind base;
@tailwind components;
@tailwind utilities;
.myAni {
  animation-name: right;
  animation-duration: 4s;
 }
 
  @keyframes left {
    from {
      position: relative;
     left: -1200px;
    }
   
   
    to{
      position: relative;
      left: 0px;
    }
    
  }
  @keyframes right {
    from {
      position: relative;
      right: -1200px;
    }
   
   
    to{
      position: relative;
      right: 0px;
    }
    
  }
  .circle {
    display: grid;
    grid-template-columns: repeat(18,1fr);
    

  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes width {
    from {
      width: 20px;
    }
    to {
     width: 80%;
    }
  }
  .badge {
    position: relative;
  width: 100px; /* Adjust the width to make the circle smaller */
  height: 100px; /* Adjust the height to make the circle smaller */
  border-radius: 50%;
  
 
  transform: rotate(0deg);
  
 
  }
  .ani-right {
    animation: right 2s linear ;
  }
  .ani-left{
   animation: left 2s linear;
  }
  .ani-top{

  }
  .ani-bottom{

  }
  @keyframes bounce1 {
    0%, 100% {
      transform: translateY(-75vh);
      
    }
    50% {
      transform: translateY(10vh);
      
    }}
  @keyframes bounce-letter {
    0%, 100% {
      transform: translateY(-5vh);
      
    }
    50% {
      transform: translateY(10vh);
      
    }}
    .ani-letter{
      animation: bounce-letter 2s linear;
    }
   
  @keyframes bounce2 {
    0%, 100% {
      transform: translateY(-85vh);
     
    }
    50% {
      transform: translateY(10vh);
     
    }
  }
  @keyframes bounce3 {
    0%, 100% {
      transform: translateY(-65vh);
      
    }
    50% {
      transform: translateY(10vh);
      
    }
  }
  .ani-bounce	{
   animation: bounce1 3s  ;
  }
  .ani-bounce2	{
    animation: bounce2 4s ;
  }
  .ani-bounce3	{
    animation: bounce3 5s  ;
  }
  .ani-bounce4	{
    animation: bounce1 6s ;
  }

  span {
    
   position: absolute;
     left: 0;
     top: 0;
    width:40px;
    height: 40px;
     font-size: smaller;
  
   
   
    transform-origin: bottom center;
  }
  .char1 {
    transform: rotate(0deg);
  }
  
  .char2 {
    transform: rotate(20deg);
  }
  
  .char3 {
    transform: rotate(40deg);
  }
  
  .char4 {
    transform: rotate(60deg);
  }
  
  .char5 {
    transform: rotate(80deg);
  }
  
  .char6 {
    transform: rotate(100deg);
  }
  
  .char7 {
    transform: rotate(120deg);
  }
  
  .char8 {
    transform: rotate(140deg);
  }
  
  .char9 {
    transform: rotate(160deg);
  }
  
  .char10 {
    transform: rotate(180deg);
  }
  
  .char11 {
    transform: rotate(200deg);
  }
  
  .char12 {
    transform: rotate(220deg);
  }
  
  .char13 {
    transform: rotate(240deg);
  }
  
  .char14 {
    transform: rotate(260deg);
  }
  
  .char15 {
    transform: rotate(280deg);
  }
  
  .char16 {
    transform: rotate(300deg);
  }
  
  .char17 {
    transform: rotate(320deg);
  }
  
  .char18 {
    transform: rotate(340deg);
  }
    
  .bg-glass{
    /* From https://css.glass */
/* From https://css.glass */
/* From https://css.glass */
/* From https://css.glass */
background: rgba(255, 255, 255, 0.14);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(14.3px);
-webkit-backdrop-filter: blur(14.3px);
border: 1px solid rgba(255, 255, 255, 0.3);
  }